<div class="comment__body-container">
  <div class="comment__title-container">
    <h3 class="comment__title"><%= comment.title %></h3>
    <p class="comment__tag --<%= comment.priority %>">
      <%= comment.priority %>
    </p>
  </div>
  <div class="comment__body-container">
    <p class="comment__body"><%= comment.comment %></p>
  </div>
</div>