<div class="comment__body-container">
  <div class="comment__title-container">
    <h3 class="comment__title"><%= comment.request__title %></h3>
    <p class="comment__tag --<%= comment.request__priority %>">
      <%= comment.request__priority %>
    </p>
  </div>
  <div class="comment__body-container">
    <p class="comment__body"><%= comment.request__description %></p>
  </div>
</div>