<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-E6KVMF9RJJ');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Project: Participatory Budgeting</title>
  <link rel="stylesheet" href="styles/op.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6KVMF9RJJ"></script>
</head>

<body>
  <div id="op-container">
    <nav>
      <img src="images/nav.png" alt="Nav mockup">
    </nav>
    <main>
      <section id="comments-overview-section" class="op-section">
        <div class="comments__container">
          <%- include('../partials/comments/comment', { comments: comments}); %>
        </div>
      </section>
    </main>
  </div>
  <div class="request__button-container">
    <div class="request__button-container-inner">
      <button id="request__button" class="request__button">Make a request</button>
    </div>
  </div>
  <div class="request__modal-container">
    <div class="request__modal-container-inner">
    <div class="request__modal-bg"></div>
    <div class="request__modal-content">
    </div>

    </div>
  </div>
  <script src="scripts/op.js"></script>
</body>
</html>