<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Project: Participatory Budgeting</title>
  <link rel="stylesheet" href="styles/op.css">
</head>

<body>
  <div id="op-container">
    <nav>
      <img src="images/nav.png" alt="Nav mockup">
    </nav>
    <main>
      <section id="comments-overview-section" class="op-section">
        <div class="comments__container">
          <%- include('../partials/comments/comment', { comments: comments}); %>
        </div>
      </section>
    </main>
  </div>
  <%- include('../partials/request/request-button'); %>
  <%- include('../partials/request/request-modal'); %>
  <script src="scripts/op.js"></script>
</body>
</html>