<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-E6KVMF9RJJ');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Project: Participatory Budgeting</title>
  <link rel="stylesheet" href="styles/op.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6KVMF9RJJ"></script>
</head>

<body>
  <div id="op-container">
    <nav>
      <img src="images/nav.png" alt="Nav mockup">
    </nav>
    <main>
      <section id="comments-overview-section" class="op-section">
        <div class="comments__container">
          <%- include('../partials/comments/comment', { comments: comments}); %>
        </div>
      </section>
    </main>
  </div>
  <div class="request__button-container">
    <div class="request__button-container-inner">
      <button id="request__button" class="request__button">Make a request</button>
    </div>
  </div>
  <div class="request__modal-container">
    <div class="request__modal-bg"></div>
    <div class="request__modal-container-inner">
      <div class="request__modal-content">
        <div class="request__modal-header flex align-center">
          <h2 class="request__modal-title">Make a request</h2>
          <svg id="request__button-close" role="button" class="request__modal-close" xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
            <line x1="0.646447" y1="14.6464" x2="14.6464" y2="0.646447" stroke="black"/>
            <line y1="-0.5" x2="19.799" y2="-0.5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 15 15)" stroke="black"/>
          </svg>
        </div>
        <div class="request__modal-body">
          <textarea name="request" id="request" cols="30" rows="10" placeholder="Enter your request" spellcheck="true"></textarea>
          <button id="request__submit-button" class="request__button">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <script src="scripts/op.js"></script>
</body>
</html>