<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6KVMF9RJJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E6KVMF9RJJ');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Links: Dashboard</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <main>
    <h1>Show Links</h1>
    <section class="section-menu">
      <nav>
        <a href="/">Create</a>
        <a class="active" href="/stats">Get Stats</a>
        <a href="/transcribe">Transcribe</a>
        <a href="/contact">Contact</a>
        <a href="/rad">RAD</a>
        <a href="/ai">Q&A</a>
      </nav>
    </section>
    <section class="section-form">
      <h2>Dashboard</h2>
      <div class="dashboard-container">
        <section id="auth">
          
          <!--<div id="g_id_onload"
              data-client_id="108901188668516974494"
              data-callback="handleCredentialResponse">
          </div>
          <div class="g_id_signin" data-type="standard"></div>-->
          <div id="g_id_onload"
     data-client_id="123270247522-vkcb0qsa4dcoa9tdjd1kbolb00q71fim.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="handleCredentialResponse"
     data-auto_prompt="false"
     >
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
        </section>
        <section id="view-selector"></section>
        <section id="timeline"></section>
      </div>
    </section>
  </main>
  <script src="scripts/lib/chart.js"></script>
  <script src="scripts/lib/lodash.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="scripts/dashboard.js"></script>
</body>
</html>