<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Notes: Create</title>
  <link rel="stylesheet" href="styles/main.css">
  <link href="styles/lib/quill.snow.css" rel="stylesheet" />
</head>
<body>
  <main>
    <h1>Show Notes</h1>
    <section class="section-menu">
      <nav>
        <a class="active" href="/">Create</a>
        <a href="/stats">Get Stats</a>
        <!--<a href="/transcribe">Transcribe</a>-->
        <a href="/contact">Contact</a>
      </nav>
    </section>
    <!-- <form action="/api/short" method="POST"> -->
    <section class="section-form">
      
      <form id="linkCreatorForm">
        <div class="form-group">
          <label for="origUrl">Shownotes</label>
          <p class="instructions">Enter your show notes in here. Once you hit submit, any links in the show notes field will be replaced with short links that will allow you to track clicks.</p>
          <div id="editor-container"></div>
        </div>

        <div class="form-group">
          <p>
            <label for="userId">User ID</label>
            <input type="text" name="userId" id="userId" maxlength="50">
          </p>
          <p id="userIdGroup">
            <button type="button" id="getUserId">I need one</button>
            <span class="instructions">A user ID helps you track of all of your links in one place. If you don't yet have one, click "I need one" to generate an ID. If you received an ID at some point, click "Find Mine" and we will attempt to locate it.</span>
          </p>
        </div>
        <div class="form-group">
          <label for="episodeName">Episode Name</label>
          <input type="text" name="episodeName" id="episodeName" maxlength="200">
          <p class="instructions">Entering an episode name helps you group all of the links for each episode together. Keep this short and memorable so you can find your episode links later.</p>
        </div>
        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
      </form>
    </section>
    <section>
      <div id="output" class="hidden">
        <div class="output-group" id="outputMsg"></div>
        <div class="output-group">
          <p class="bold">URLs:</p>
          <div id="outputShortUrl"></div>
        </div>
        <div class="output-group">
          <p class="bold">User ID:</p>
          <p id="outputUserId"></p>
          <p class="instructions">Keep this ID so that you can associate future links with your ID and get all your stats in one place.</p>
        </div>
        <div class="output-group">
          <p class="bold">Episode ID:</p>
          <p id="outputEpisodeId"></p>
          <p class="instructions">Keep this ID so that you can associate future links with this episode and get stats by episode</p>
        </div>
        

      </div>
    </section>
  </main>
  <script src="scripts/lib/quill.js"></script>
  <script src="scripts/index.js"></script>
</body>
</html>