<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6KVMF9RJJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E6KVMF9RJJ');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Links: Dashboard</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <main>
    <h1>Show Links</h1>
    <section class="section-menu">
      <nav>
        <a href="/">Create</a>
        <a class="active" href="/stats">Get Stats</a>
        <a href="/transcribe">Transcribe</a>
        <a href="/contact">Contact</a>
        <a href="/rad">RAD</a>
        <a href="/ai">Q&A</a>
      </nav>
    </section>
    <section class="section-form">
      <h2>Privacy & Terms</h2>
      
    </section>
  </main>
</body>
</html>