<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-E6KVMF9RJJ');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Links: Transcribe</title>
  <link rel="stylesheet" href="styles/main.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6KVMF9RJJ"></script>
</head>

<body>
  <main>
    <h1>Show Links</h1>
    <section class="section-menu">
      <nav>
        <a href="/">Create</a>
        <a href="/stats">Get Stats</a>
        <a href="/transcribe">Transcribe</a>
        <a href="/contact">Contact</a>
        <a  class="active" href="/rad">RAD</a>
        <a href="/ai">Podcast Q&A</a>
      </nav>
    </section>
    <section class="section-form">
      <h2>Remote Audio Data (RAD)</h2>
      <p>
        <a href="https://rad.npr.org/" target='_blank' rel='noopener noreferrer'>RAD</a> measures podcast listening across a range of participating clients and platforms, aggregating the data in an analytics endpoint. This tool allows you to add RAD tags to your podcast audio file.
      </p>
      <div id="read-data">
        <form id="radForm">
          <p class="instructions">Choose the location of your file (either a web address or uploaded file)</p>
          <div class="form-group">
            <label for="method">Method: </label>
            <select name="method" id="method">
              <option disabled selected default value> -- select -- </option>
              <option value="url">URL</option>
              <option value="file">Upload</option>
            </select>
          </div>
          
          <div class="form-group hidden" id="fg-upload-url">
            <label for="file">Audio URL:</label>
            <input type="url" name="audioURL" id="audioURL" maxlength="500">
          </div>
          <div class="form-group hidden" id="fg-upload-file">
            <label for="file">Audio File:</label>
            <input type="file" accept="audio/mpeg" name="audioFile" id="audioFile" maxlength="50">
          </div>
          <div class="form-group hidden" id="fg-submit">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>
   
  </main>
  <script src="scripts/lib/browser-id3-writer.js"></script>
  <script src="scripts/rad.js"></script>
</body>
</html>