<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6KVMF9RJJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E6KVMF9RJJ');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Links: Stats</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <main>
    <h1>Show Links</h1>
    <section class="section-menu">
      <nav>
        <a href="/">Create</a>
        <a class="active" href="/stats">Get Stats</a>
        <a href="/transcribe">Transcribe</a>
        <a href="/contact">Contact</a>
        <a href="/rad">RAD</a>
        <a href="/ai">Podcast Q&A</a>
      </nav>
    </section>
    <section class="section-form">
      <h2>Get your stats:</h2>
      <p>Given any showlinks you've created (you can create them <a href="/">here</a>), get analytics on how many users have interacted with them.</p>
      <nav>
        <button id="retrieval-type-userId" data-id="userId" type="button" class="retrieval-method">By User ID</button>
        <button id="retrieval-type-episodeId" data-id="episodeId" type="button" class="retrieval-method">By Episode ID</button>
        <button id="retrieval-type-shortUrl" data-id="shortUrl" type="button" class="retrieval-method">By Short URL</button>
      </nav>
      <form id="linkStatsForm">
        <div class="form-group hidden form-method" id="form-group-userId" data-id="userId">
          <p>
            <label for="userId">User ID</label>
            <input class="input-retrieval-val" type="text" name="userId" id="userId" maxlength="50">
          </p>
          <p class="instructions">Get all link stats by user ID.</p>
        </div>
        <div class="form-group hidden form-method" id="form-group-episodeId" data-id="episodeId">
          <p>
          <label for="episodeId">Episode ID</label>
          <input class="input-retrieval-val" type="text" name="episodeId" id="episodeId" maxlength="200">
          </p>
          <p class="instructions">Get all link stats by episode ID.</p>
        </div>
        <div class="form-group hidden form-method" id="form-group-shortUrl" data-id="shortUrl">
          <p>
            <label for="shortUrl">Short URL</label>
            <input class="input-retrieval-val" type="text" name="shortUrl" id="shortUrl">
          </p>
          <p class="instructions">Get an individual link's stats</p>
        </div>
        <div class="form-group">
          <button type="submit">Get Stats</button>
        </div>
      </form>
    </section>
    <section class="section-output">
      <div id="error" class="error"></div>
      <div id="output" class="hidden">
        <div class="output-group">
          <details>
            <summary>Details</summary>
            <div id="stat-results"></div>
          </details>
        </div>
        <div class="output-group" id="stat-chart-container">
          <canvas id="stat-chart"></canvas>
        </div>
      </div>
    </section>
  </main>
  <script src="scripts/lib/chart.js"></script>
  <script src="scripts/lib/lodash.js"></script>
  <script src="scripts/stats.js"></script>
</body>
</html>