<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Notes: Transcribe</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <main>
    <h1>Show Notes</h1>
    <section class="section-menu">
      <nav>
        <a href="/">Create</a>
        <a href="/stats">Get Stats</a>
        <a class="active" href="/transcribe">Transcribe</a>
        <a href="/contact">Contact</a>
      </nav>
    </section>
    <section class="section-form">
      <h2>Transcribe Podcast</h2>
    </section>
    
  </main>
  <script src="scripts/transcribe.js"></script>
</body>
</html>