<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Links: Transcribe</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <main>
    <h1>Show Links</h1>
    <section class="section-menu">
      <nav>
        <a href="/">Create</a>
        <a href="/stats">Get Stats</a>
        <a class="active" href="/transcribe">Transcribe</a>
        <a href="/contact">Contact</a>
      </nav>
    </section>
    <section class="section-form">
      <h2>Transcribe Podcast</h2>
      <form id="transcribeForm" action="/api/transcribe" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Audio File:</label>
          <input type="file" id="file" name="file" accept=".wav, .mp3" required>
        </div>
        <div class="form-group">
          <label for="format">Transcript Format:</label>
          <select name="format" id="format">
            <option value="text">text</option>
            <option value="vtt">vtt</option>
            <option selected value="srt">srt</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
        <div class="form-group" id="download-container"></div>
        <div id="error" class="error"></div>
        <div id="success" class="success"></div>
      </form>
    </section>
    <section class="section-output">
      <div class="output-group" id="transcript-download-group"></div>
    </section>
    
  </main>
  <script src="scripts/transcribe.js"></script>
</body>
</html>